@font-face {
  font-family: "helv";
  src: url("../fonts/HelveticaNeueCyr-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "helvT";
  src: url("../fonts/HelveticaNeueCyr-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Helvet Bold";
  src: url("../fonts/HelveticaNeueCyr-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa-Light";
  src: url("../fonts/Comfortaa-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Comfortaa-Medium";
  src: url("../fonts/Comfortaa-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: rgb(179, 179, 179);
  padding: 5rem;
  font-size: 1.6rem;
  font-family: "helv";
}

.container {
  background-color: rgb(255, 255, 255);
}

.header {
  height: 95vh;
  background: linear-gradient(30deg, rgb(0, 0, 0) 20%, rgba(2, 0, 2, 0.1) 40%, rgba(2, 0, 2, 0.1) 40%, rgb(0, 0, 0) 99%), url(../img/mark-basarab-1OtUkD_8svc-unsplash.jpg) center/cover no-repeat;
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 85%, 0 100%);
}
.header__logo {
  position: relative;
  width: 25rem;
  top: 5rem;
  left: 5rem;
}
.header__box {
  width: 50%;
  text-align: center;
  margin: 0 auto;
  position: relative;
  top: 20%;
  animation-name: LeftToRight;
  animation-duration: 3s;
  backface-visibility: hidden;
}
.header__box h1 {
  font-family: "Helvet Bold";
  font-size: 4rem;
  letter-spacing: 0.3rem;
  color: rgb(202, 202, 202);
}
.header__box h1 span {
  font-family: "helv";
}
.header__box h2 {
  font-family: "helvT";
  font-size: 3rem;
  letter-spacing: 0.3rem;
  margin-bottom: 3rem;
  color: rgb(202, 202, 202);
}

@keyframes LeftToRight {
  0% {
    opacity: 0;
    top: 60%;
    scale: 50%;
  }
  100% {
    opacity: 1;
    top: 20%;
    scale: 100%;
  }
}
.btn:link, .btn:visited {
  position: relative;
  width: 13rem;
  text-decoration: none;
  color: rgb(80, 80, 80);
  background: white;
  border-radius: 2rem;
  font-family: "helv";
  padding: 1rem 2rem;
  display: inline-block;
  transition: all 0.1s;
  font-size: 2rem;
}
.btn:hover {
  color: rgb(0, 0, 0);
}
.btn:hover::after {
  opacity: 0;
  transform: scale(2);
  height: 200%;
  width: 100%;
  border-radius: 10rem;
}
.btn:active {
  transform: translateY(0.2rem);
  box-shadow: 0rem -0.2rem 0.4rem 0.1rem rgb(20, 20, 20);
  scale: 98%;
}
.btn::after {
  content: "";
  background: rgb(125, 218, 255);
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: All 0.5s;
}
